icsm31-projeto/server-interpreted/.venv
icsm31-projeto/.venv/
icsm31-projeto/server-compiled/server_compiled
icsm31-projeto/server-compiled/server-compiled
data/
icsm31-projeto/reports
.DS_Store
__pycache__/
*.pyc